<!DOCTYPE html>
<html>

  <head>
    <title>IT Acronyms</title>
    <link href='http://fonts.googleapis.com/css?family=Jura|Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

      <div id="header">
        <h1 id="title"><%= link_to "IT Acronyms", acronyms_path %></h1>
        <nav>
          <ul>
            <li>
              <%= form_tag("/search", method: "get") do %>
                <%= text_field_tag :query %>
                <%= submit_tag("Search") %>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>

      <div id="content">
        <%= yield %>
      </div>

  </body>

</html>
